#container
{
    border-top: 4px solid black;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 15px 15px 30px 15px;
}

#window-section 
{
    align-items: flex-end;
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

#window-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 5px;
}

#weather
{
    position: absolute;
    z-index: -1;
}

#tree-section
{
    align-items: flex-end;
    display: flex;
    flex: 1;
    justify-content: center;
}
