#container
{
    border-top: 4px solid black;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 15px 15px 30px 15px;
}

#streak-container
{
    align-items: center;
    column-gap: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

#streak-container:hover #streak-tooltip
{
    background-color: var(--green);
    border-color: black;
    color: black;
}

#streak-container:hover #streak-tooltip::before
{
    border-color: transparent transparent black transparent;
}

#streak-tooltip
{
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 5px;
    color: transparent;
    padding: 5px;
    position: absolute;
    top: 28px;
    transition: background-color 500ms, border-color 500ms, color 500ms;
    width: 180px;
    z-index: 1;
}

#streak-tooltip::before
{
    border-color: transparent transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    position: absolute;
    right: -3px;
    top: -10px;
    transition: border-color 500ms;
}

#window-section 
{
    align-items: flex-end;
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

#window-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 5px;
}

#weather
{
    position: absolute;
    z-index: -1;
}

#tree-section
{
    align-items: flex-end;
    display: flex;
    flex: 1;
    justify-content: center;
}