#container
{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    padding-bottom: 15px;
}

#window-container 
{
    align-items: flex-end;
    display: flex;
    flex: 1;
    height: 50%;
    justify-content: flex-start;
}

#weather
{
    position: absolute;
    z-index: 0;
}

#window
{
    z-index: 1;
}

#tree-container
{
    align-items: flex-end;
    display: flex;
    flex: 1;
    height: 50%;
    justify-content: center;
}
