@page "/settings"
@inject IFileService FileService

<div id="container">
    <p id="settings-header">@_pageContents?["en"]!["pageTitle"]</p>

    <div class="setting" @onclick="OpenSettings">
        <p>@_pageContents?["en"]!["locationPermission"]</p>
        <img class="icon" src="./icons/external_link_icon.png" />        
    </div>
</div>

@code 
{
    private JsonNode? _pageContents;

    protected override async Task OnInitializedAsync()
    {
        _pageContents ??= await FileService.ReadRawDataAsync(Files.SettingsPageContents);
    }

    private void OpenSettings()
    {
        AppInfo.Current.ShowSettingsUI();
    }
}