@page "/settings"
@inject IFileService FileService

<div id="container">
    <h1 id="settings-text">Settings</h1>

    <div class="setting" @onclick="OpenSettings">
        <p>@(_paragraphsContents?.GetProperty("en").GetProperty("locationPermission"))</p>
        <img class="icon" src="./icons/external_link_icon.png" />        
    </div>
</div>

@code 
{
    private JsonElement? _paragraphsContents;

    protected override async void OnInitialized()
    {
        _paragraphsContents = await FileService.ReadRawDataAsync("SettingsPageContents");
    }

    private void OpenSettings()
    {
        AppInfo.Current.ShowSettingsUI();
    }
}