#progress-container
{
    align-items: center;
    background-color: var(--green);
    border-bottom: 4px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0 15px 0;
    width: 100%;
}

#progress, #days-left
{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#today-progress-background
{
    align-items: center;
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    display: flex;
    height: 100px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100px;
}

#today-progress-foreground
{   
    background-color: var(--green);
    bottom: 0;
    position: absolute;
    width: 100%;
    transition: height 1s ease-in-out;
    z-index: 0;
}

#today-progress-percentage
{
    font-size: 24px;
    font-weight: 900;
    z-index: 1;
}

#content-container
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 15px;
    row-gap: 15px;
    width: 100%;
}

#todo-navigation
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#todo-navigation button
{
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 10px;
    font-weight: 900;
    height: fit-content;
    padding: 10px;
    transition: background-color 100ms;
    width: fit-content;
}

#todo-navigation button:enabled:active
{
    background-color: darkgray;
}

#todo-navigation p
{
    column-gap: 5px;
    display: flex;
}

#add-todo
{
    width: fit-content;
}

#todos-container
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.bold
{
    font-weight: 900;
}