@inherits LayoutComponentBase

<div id="page">
    <div id="content">
        @Body
    </div>

    <div id="navigation-bar">
        <NavLink href="/" class="navlink" Match="NavLinkMatch.All">
            <img src="./icons/bonsai_icon.png" class="icon" />
            <img src="./icons/bonsai_icon_filled.png" class="icon filled-icon" />
        </NavLink>

        <div class="navigation-items-separator" />

        <NavLink href="/todos" class="navlink">
            <img src="./icons/to_do_icon.png" class="icon" />
            <img src="./icons/to_do_icon_filled.png" class="icon filled-icon" />
        </NavLink>
    
        <div class="navigation-items-separator" />

        <NavLink href="/profile" class="navlink">
            <img src="./icons/profile_icon.png" class="icon" />
            <img src="./icons/profile_icon_filled.png" class="icon filled-icon" />
        </NavLink>

        <div class="navigation-items-separator" />

        <NavLink href="/settings" class="navlink">
            <img src="./icons/settings_icon.png" class="icon" />
            <img src="./icons/settings_icon_filled.png" class="icon filled-icon" />
        </NavLink>
    </div>
</div>