#page
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#content 
{
    display: flex;
    flex: 1;
    flex-direction: column;
}

#navigation-bar 
{
    align-items: center;
    background-color: var(--green);
    border-top: 4px solid black;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    position: sticky;
    width: 100%;
    z-index: 10;
}

#navigation-bar button 
{
    border-radius: 10px;
    height: 100%;
    padding: 15px;
    transition: background-color 50ms linear;
    width: 100%;
}

.navigation-icon-container
{
    align-items: center;
    display: flex;
    height: 36px;
    justify-content: center;
    width: 36px;
}

#navigation-bar img
{
    height: 32px;
    transition: all 125ms ease-in;
    width: 32px;
}

.navigation-items-separator 
{
    border-right: 3px solid black;
    height: 40px;
}
