@inherits ModalBase

<Modal 
    HeaderText="@HeaderText" 
    FooterButtonText="@FooterButtonText" 
    OnAnimationEndedCallback="@OnAnimationEndedCallback"
>
    <BodyContent>
        <p>@BodyText</p>
    </BodyContent>
</Modal>

@code 
{
    [Parameter]
    public string? BodyText { get; set; }
}