.modal
{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.modal-content
{
    background-color: white;
    border: 4px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    max-width: 450px;
}

.modal-header
{  
    background-color: var(--green);
    align-items: center;
    border-bottom: 4px solid black;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    display: flex; 
    justify-content: space-between;
    padding: 20px;
}

.header-text
{
    font-size: 23px;
    font-weight: bold;
}

.modal-body
{
    padding: 20px;
}

.modal-footer
{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.fadein
{
    animation: 700ms forwards fadein;
}

.fadeout
{
    animation: 700ms forwards fadeout;
}

.slidein
{
    animation: 700ms slidein;
}

.slideout
{
    animation: 700ms forwards slideout;
}

@keyframes fadein
{
    from
    {
        background-color: transparent;
        display: none;
    }

    to
    {
        background-color: rgba(0, 0, 0, 0.75);
        display: flex;
    }
}

@keyframes fadeout
{
    from
    {
        background-color: rgba(0, 0, 0, 0.75);
        display: flex;
    }

    to
    {
        background-color: transparent;
        display: none;
    }
}

@keyframes slidein
{
    from
    {
        translate: 0 150vh;
    }

    to
    {
        translate: 0 0;
    }
}

@keyframes slideout
{
    to
    {
        translate: 0 150vh;
    }
}
