@inherits ModalBase

<div class="modal fade@_animationType" @onanimationended="OnAnimationEndedCallback">
    <div class="modal-content slide@_animationType">
        <div class="modal-header">
            <p class="header-text">@HeaderText</p>
            
            @if (!HideCancelButton)
            {
                <p @onclick="CloseModal" class="cancel-button">X</p>
            }
        </div>

        <div class="modal-body">
            @BodyContent
        </div>

        <div class="modal-footer">
            <button class="default-button" @onclick="HandleOnClickCallback">@FooterButtonText</button>
        </div>
    </div>
</div>

@code
{
    private string _animationType = "in";

    private void CloseModal()
    {
        _animationType = "out";
    }

    private async Task HandleOnClickCallback()
    {
        CloseModal();
        await OnClickCallback.InvokeAsync();
    }

    [Parameter]
    public RenderFragment? BodyContent { get; set; }

    [Parameter]
    public EventCallback OnClickCallback { get; set; }
}